@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

body {
  background: url('white_wall.png');

}

.zero {
  border: 3px dashed red;
}

h1 {
  font-size: 100px;
  margin-left: 40px;
}
#machine {
  text-align: center;
  height: 400px;
  width: 800px;

  .checking_balance_output, .savings_balance_output, #total_balance {
    font-family: 'Press Start 2P', cursive;
    color: #40fb20;
    background: black;
    line-height: 30px;
    width: 200px;
    padding: 5px;
  }
}

#atm {
  height: 600px;
  width: 800px;
  background: url('white_wall.png');

  .checking_panel, .savings_panel {
    display: inline-block;
    padding: 30px;
    border: solid 1px black;
    margin: 10px 0 20px 30px;

  }
}

#screen {
  margin: 50px 0 50px 50px;
  text-align: center;
  line-height: 40px;
  height: 300px;
  width: 400px;
  border-radius: 10px;
  padding-top: 30px;
  background-color: black;
  font-family: 'Press Start 2P', cursive;
  color: #40fb20;
}
